@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');
html,
body {
    margin: 0 !important;
    padding: 0 !important;
    color: white;
    max-height: 100vh;
}

body {
    background-image: linear-gradient(to top right, #ff0844 0%, #ff6868 100%);
    font-family: 'Patua One', sans-serif;
    width: 100vw;
    height: 100vh;
}

.scs {
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100vh;
    width: 100vw;
    text-align: center;
}

h1,
p {
    opacity: .8;
}

#display__time-left {
    margin: 0;
    font-size: 20rem !important;
    opacity: 1 !important;
}

button {
    border: none;
    margin: 60px;
    padding: 30px;
    font-size: 3rem;
    color: #ff0844;
    background-color: white;
    border-radius: 4px;
}